<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/result.css" />
  <title>Página de Resultados</title>
</head>
<body>
  <header class="c-header">
    <div class="logo">
      <img src="assets/img/Logo.png" alt="" onclick="location.href = '/';" />
    </div>

    <nav id="nav" class="nav-bar">

      <div id="menu-bar" class="menu-items">
        <button id="btnBurger"> <span class="iconify" data-icon="fa:bars" style="color: #4b87ff;" data-width="40" data-height="40"> </span> </button>  
        <button id="btnCloseBurger"> <span  class="iconify" data-icon="mdi:close" style="color: red;" data-width="40" data-height="40"></span></button>
      </div>

      <ul class="menu">
        <li id="active" class="menu-items">Início</li>
        <li class="menu-items">Acadêmico</li>
        <li class="menu-items">Carreira</li>
        <li class="menu-items" onclick="location.href = '/teste';">Teste Vocacional</li>
        <li class="menu-items"><button onclick="location.href = '/register';" class="menu-button">Conta</button></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="box box-1">
      <img src="/assets/img/Logo.png" alt=""/>
      <h3>Titulo</h3>
      <p>Paragráfos</p>
    </div>

    <div class="box box-2">
      <img src="/assets/img/Logo.png" alt=""/>
      <h3>Titulo2</h3>
      <p>Paragráfos2</p>
    </div>

    <div class="box box-3">
      <img src="/assets/img/Logo.png" alt=""/>
      <h3>Titulo3</h3>
      <p>Paragráfos3</p>
    </div>
  </div>

  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  <script type="text/javascript" src="burguerdrop.js"></script>
</body>
</html>